* {
    margin: 0;
    padding: 0;
}


body {
height: 200vh;
background-color: rgb(53, 53, 53);
margin: 0;
padding: 0;
}

nav {
    background-image: linear-gradient(to bottom right,red 10%, black 90%);
    height: auto;
    padding: 1vw;
    border-bottom: 3px dashed black;
    border-bottom-right-radius:25px ;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav ul {
    list-style-type: none;
}

nav img {
    position: absolute;
    right: 2px;
    top: 0;
    height: 11vh;
    border: 2px solid black;
    border-bottom-left-radius:25px ;
    
}


nav ul li a {
    text-decoration: none;
    color: black;
    float: left;
    border: 3px solid black;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 25px 30px;
    background-color: rgb(207, 207, 207);
    padding: 0.3vw;
    margin-right: 1.2vw ;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    transition: 0.5s;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

nav::after {
    content: "";
    clear: both;
    display: table;}

    #tartalom {
        background-color: black;
        width: 100%;
        height: 100vh;
        border-bottom: 3px groove white;
        } 

#video {
 border: 4px groove white;
 border-radius: 25px;

}

#R8, #R8e {
    position: absolute;
    font-style: oblique;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#R8:hover, #R8e:hover {
    color: rgb(248, 15, 15);
}

#leiras1, #leiras2 {
    font-size: large;
    font-weight: 450;
    text-align: justify;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#szlogen{
    color: rgb(0, 162, 255);
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    margin: 0;
    border-bottom:3px groove white ;
    background-image: url("bc.png");
}

#magyarazat {
   color: rgb(163, 19, 19);
}

.col{
    padding: 40px;
}

.col img{
    float: right;
}

#white {
    background-color: white;
}

#elso, #masodik, #harmadik {
    color: black;

}

p {
    font-weight: bold;
    font-size: large;
}

#gomb  {
    font-size: 2.5vw;
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 25px;
    border: 4px solid black;

}

#gomb:hover {
    padding: 3px;
    color: rgb(238, 255, 0);
    transition: 0.3s;
    font-weight: bold;
}








::-webkit-scrollbar {width:20px;}

::-webkit-scrollbar-track {
    background-image: linear-gradient(red -20%, black 60%);
    box-shadow: inset 0 0 2.5px 2px #222222 ;}
    
::-webkit-scrollbar-thumb {background-image: linear-gradient(rgb(37, 36, 36), rgb(82, 82, 82));
        border-radius:25px;
        box-shadow: inset 0 0 2.5px 2px #ffffffd7;}